* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: linear-gradient(180deg, #ead7bb 0%, #f3ece3 50%);
  height: 100vh;
}

header {
  height: 10vh;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f6511e;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

ul li {
  padding: 0 10px;
}

ul a {
  text-decoration: none;
  color: #333;
}

ul a:hover {
  color: #f6511e;
}

.header-link {
  background: #f6511e;
  color: #fff;
  width: 80px;
  height: 30px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 20px auto;
}
